.centered {
	text-align: center;
}

.inner_wrap {
	padding: 2%;
}

.title {
	font-size: 1.5rem;
	padding: 1% 0;
}

.main_info {
	text-align: center;
}

.calendar {
	font-size: 1.25rem;
	padding: 1% 0;
}

.calendar .appointment_link {
	color: blue;
}

.title .main_info {
	font-weight: 600;
}

.contacts_info .main_info {
	font-size: 1.25rem;
}

#logo {
	margin-top: 15%;
}

#dvd {
	margin-top: 30%;
}

#map {
	margin: 2% auto;
	width: 400px;
	height: 400px;
}

@media only screen and (max-width : 600px) {

	.title .row .col {
		padding: 2px;
		margin: 0;
	}

	.text_content .row .col {
		padding: 2px;
		margin: 0;
	}

	#logo {
		width: 70px;
	}

	#dvd {
		width: 70px;
	}

	#map {
		width: 350px;
		height: 350px;
	}
}


@media only screen and (max-width : 400px) {

	#map {
		width: 300px;
		height: 300px;
	}

	.title {
		font-size: 1rem;
		padding: 1% 0;
	}

}

