.my_nav {
	background-color: #1c1d1f!important;
	color: #6aca05;
}

.my_nav .navbar-nav .nav-item .nav-link {
	color: #efef03bd;
	font-size: 2vh;
	font-weight: 100;
}

main {
	height: 90vh;
}

body {
    background-image: url('/static/img/bg.jpg');
}

footer {
	min-height: 3vh;
}

.centered {
    text-align: center;
}

.central_div {
	margin-left: 30%;
	width: 40%;
}

#on_top {
	margin: 0 auto;
	color: blue;
}

.top_link_wrap {
	margin: 0 40%;
}

#navbarText {
	padding-top: 0.5%;
}

#home {
    width: 3.5vh;
}

@media only screen and (max-width : 1200px) {
	.top_link_wrap {
		margin: 0 30%;
	}
}


@media only screen and (max-width : 768px) {

	.my_nav .navbar-nav .nav-item .nav-link {
		font-size: 1rem;
	}
}


@media only screen and (max-width : 992px) {

	.collapse:not(.show) {
		display: inline-block;
	}

	.navbar-nav {
		flex-direction: row;
	}

	.central_div {
		margin-left: 10%;
		width: 80%;
	}

}


@media only screen and (max-width : 575px) {
	.top_link_wrap {
		margin: 0;
	}
}


@media only screen and (max-width : 360px) {
	.fixed-bottom .container {
		padding: 0;
		margin: 0;
	}

	.fixed-bottom .container .row .col {
		padding: 0;
		margin: 0;
	}
}

