{% extends 'base.html' %}
{% load static %}
{% block title %} Расписание {% endblock %}
{% block content %} 
<link rel="stylesheet" href ="{% static 'patients/css/styles.css' %}">
<script type="text/javascript" src="{% static 'patients/js/appointments.js' %}"></script>
<div class="container">
	<div class="service_row row">
		<div class='col-4'></div>
        <div class='col-2'>
        	<span class="arrow left_arrow">
        		<a href="/week/{{ prev_week_url }}">
        		    <img src="{% static 'icons/svg/arrow-left.svg' %}" title="Предыдущая неделя">
        	    </a>
        	</span>
        </div>
        <div class='col-2'>
        	<span class="arrow right_arrow">
        		<a href="/week/{{ next_week_url }}">
        			<img src="{% static 'icons/svg/arrow-right.svg' %}" title="Следующая неделя">
        		</a>
        	</span>
        </div>
        <div class='col-4'></div>
	</div>
	<div class="calendar table-responsive">
	<table class="table table-bordered table-dark">
	  <thead>
	    <tr>
	      <th scope="col">Время</th>
	      <th scope="col">Понедельник<br>{{ monday }}</th>
	      <th scope="col">Вторник<br>{{ tuesday }}</th>
	      <th scope="col">Среда<br>{{ wednesday }}</th>
	      <th scope="col">Четверг<br>{{ thursday }}</th>
	      <th scope="col">Пятница<br>{{ friday }}</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for time_data in appointments %}
	    <tr>
	      <th scope="row">{{ time_data.time }}</th>
	      {% if time_data.monday_set_in_session == request.session.session_key %}
	          <td id='{{monday}}{{time_data.time}}' class="clickable" onclick="remove_appointment('{{ monday }}', '{{time_data.time}}', '{{csrf_token}}');">
                  {{ time_data.monday }}
              </td>
	      {% elif time_data.monday != '' or time_data.monday_not_available %}
              <td>{{ time_data.monday }}</td>
	      {% else %}
              <td id='{{monday}}{{time_data.time}}' class="clickable" onclick="add_appointment('{{ monday }}', '{{time_data.time}}', '{{csrf_token}}');">
                  {{ time_data.monday }}
              </td>
	      {% endif %}

	      {% if time_data.tuesday_set_in_session == request.session.session_key %}
	           <td id='{{tuesday}}{{time_data.time}}' class="clickable" onclick="remove_appointment('{{ tuesday }}', '{{time_data.time}}', '{{csrf_token}}');">
                  {{ time_data.tuesday }}
              </td>
	      {% elif time_data.tuesday != '' or time_data.tuesday_not_available %}
              <td>{{ time_data.tuesday }}</td>
	      {% else %}
              <td id='{{tuesday}}{{time_data.time}}' class="clickable" onclick="add_appointment('{{ tuesday }}', '{{time_data.time}}', '{{csrf_token}}');">
                  {{ time_data.tuesday }}
              </td>
	      {% endif %}
          
	      {% if time_data.wednesday_set_in_session == request.session.session_key %}
	        <td id='{{wednesday}}{{time_data.time}}' class="clickable" onclick="remove_appointment('{{ wednesday }}', '{{time_data.time}}', '{{csrf_token}}');">
                  {{ time_data.wednesday }}
            </td>
	      {% elif time_data.wednesday != '' or time_data.wednesday_not_available %}
              <td>{{ time_data.wednesday }}</td>
	      {% else %}
              <td id='{{wednesday}}{{time_data.time}}' class="clickable" onclick="add_appointment('{{ wednesday }}', '{{time_data.time}}', '{{csrf_token}}');">
                  {{ time_data.wednesday }}
              </td>
	      {% endif %}

	      {% if time_data.thursday_set_in_session == request.session.session_key %}
	       <td id='{{thursday}}{{time_data.time}}' class="clickable" onclick="remove_appointment('{{ thursday }}', '{{time_data.time}}', '{{csrf_token}}');">
                {{ time_data.thursday }}
            </td>
	      {% elif time_data.thursday != '' or time_data.thursday_not_available %}
              <td>{{ time_data.thursday }}</td>
	      {% else %}
              <td id='{{thursday}}{{time_data.time}}' class="clickable" onclick="add_appointment('{{ thursday }}', '{{time_data.time}}', '{{csrf_token}}');">
                  {{ time_data.thursday }}
              </td>
	      {% endif %}

	      {% if time_data.friday_set_in_session == request.session.session_key %}
	        <td id='{{friday}}{{time_data.time}}' class="clickable" onclick="remove_appointment('{{ friday }}', '{{time_data.time}}', '{{csrf_token}}');">
                {{ time_data.friday }}
            </td>
	      {% elif time_data.friday != '' or time_data.friday_not_available %}
              <td>{{ time_data.friday }}</td>
	      {% else %}
              <td id='{{friday}}{{time_data.time}}' class="clickable" onclick="add_appointment('{{ friday }}', '{{time_data.time}}', '{{csrf_token}}');">
                  {{ time_data.friday }}
              </td>
	      {% endif %}

	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	</div>
	<div class="additional_comment">
        <h6 class="centered">* Если у вас что-то срочное, приходите в 7 часов утра.<br> Прием срочных пациентов ведется в порядке живой очереди.</h6>
        <h6 class="centered">* Если вы хотите отменить свою запись, кликните по ней мышкой </h6>
	</div>
</div>


{% endblock %}
